@import 'tailwindcss';

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root { 
  font-family: Inter, sans-serif; 
  --header-height: 5rem;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 30rem; /* 480px */
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1 024px */
  --breakpoint-xl: 80rem; /* 1 280px */
  --breakpoint-2xl: 90rem; /* 1 440px */
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 135rem;

  --container-8xl:90rem;
  --container-9xl: 120rem;
  --container-10xl: 135rem;

  --color-primary: #F4F4F4;
  --color-secondary: #1A1A1A;
  --color-third: #6B7280;

  --color-gray-lightest: #F9FAFB;
  --color-gray-light: #E5E7EB;
  --color-gray-medium: #6B7280;
  --color-gray-dark: #374151;
  --color-gray-darkest: #111827;
  
  --color-blue: #2c02ff;
  --color-yellow: #FFBA00;

  --font-garamond: 'Garamond' ;
  --font-garamond-italic: 'Garamond-Italic';
  --font-inter: 'Inter' ;
  --font-inter-italic: 'Inter-Italic';
}

@font-face { font-family:Garamond; font-style:normal; font-weight:400; font-display:swap; src:url("/fonts/Garamond/EBGaramond-Regular.woff2") format("woff2"); }
@font-face { font-family:Garamond-Italic; font-style:italic; font-weight:400; font-display:swap; src:url("/fonts/Garamond/EBGaramond-Italic.woff2") format("woff2"); }
@font-face { font-family:Garamond; font-style:normal; font-weight:500; font-display:swap; src:url("/fonts/Garamond/EBGaramond-Medium.woff2") format("woff2"); }
@font-face { font-family:Garamond-Italic; font-style:italic; font-weight:500; font-display:swap; src:url("/fonts/Garamond/EBGaramond-MediumItalic.woff2") format("woff2"); }
@font-face { font-family:Garamond; font-style:normal; font-weight:600; font-display:swap; src:url("/fonts/Garamond/EBGaramond-SemiBold.woff2") format("woff2"); }
@font-face { font-family:Garamond-Italic; font-style:italic; font-weight:600; font-display:swap; src:url("/fonts/Garamond/EBGaramond-SemiBoldItalic.woff2") format("woff2"); }
@font-face { font-family:Garamond; font-style:normal; font-weight:700; font-display:swap; src:url("/fonts/Garamond/EBGaramond-Bold.woff2") format("woff2"); }
@font-face { font-family:Garamond-Italic; font-style:italic; font-weight:700; font-display:swap; src:url("/fonts/Garamond/EBGaramond-BoldItalic.woff2") format("woff2"); }
@font-face { font-family:Garamond; font-style:normal; font-weight:800; font-display:swap; src:url("/fonts/Garamond/EBGaramond-ExtraBold.woff2") format("woff2"); }
@font-face { font-family:Garamond-Italic; font-style:italic; font-weight:800; font-display:swap; src:url("/fonts/Garamond/EBGaramond-ExtraBoldItalic.woff2") format("woff2"); }


@font-face { font-family:Inter; font-style:normal; font-weight:100; font-display:swap; src:url("/fonts/Inter/Inter-Thin.woff2") format("woff2"); }
@font-face { font-family:Inter-Italic; font-style:italic; font-weight:100; font-display:swap; src:url("/fonts/Inter/Inter-ThinItalic.woff2") format("woff2"); }
@font-face { font-family:Inter; font-style:normal; font-weight:200; font-display:swap; src:url("/fonts/Inter/Inter-ExtraLight.woff2") format("woff2"); }
@font-face { font-family:Inter-Italic; font-style:italic; font-weight:200; font-display:swap; src:url("/fonts/Inter/Inter-ExtraLightItalic.woff2") format("woff2"); }
@font-face { font-family:Inter; font-style:normal; font-weight:300; font-display:swap; src:url("/fonts/Inter/Inter-Light.woff2") format("woff2"); }
@font-face { font-family:Inter-Italic; font-style:italic; font-weight:300; font-display:swap; src:url("/fonts/Inter/Inter-LightItalic.woff2") format("woff2"); }
@font-face { font-family:Inter; font-style:normal; font-weight:400; font-display:swap; src:url("/fonts/Inter/Inter-Regular.woff2") format("woff2"); }
@font-face { font-family:Inter-Italic; font-style:italic; font-weight:400; font-display:swap; src:url("/fonts/Inter/Inter-Italic.woff2") format("woff2"); }
@font-face { font-family:Inter; font-style:normal; font-weight:500; font-display:swap; src:url("/fonts/Inter/Inter-Medium.woff2") format("woff2"); }
@font-face { font-family:Inter-Italic; font-style:italic; font-weight:500; font-display:swap; src:url("/fonts/Inter/Inter-MediumItalic.woff2") format("woff2"); }
@font-face { font-family:Inter; font-style:normal; font-weight:600; font-display:swap; src:url("/fonts/Inter/Inter-SemiBold.woff2") format("woff2"); }
@font-face { font-family:Inter-Italic; font-style:italic; font-weight:600; font-display:swap; src:url("/fonts/Inter/Inter-SemiBoldItalic.woff2") format("woff2"); }
@font-face { font-family:Inter; font-style:normal; font-weight:700; font-display:swap; src:url("/fonts/Inter/Inter-Bold.woff2") format("woff2"); }
@font-face { font-family:Inter-Italic; font-style:italic; font-weight:700; font-display:swap; src:url("/fonts/Inter/Inter-BoldItalic.woff2") format("woff2"); }
@font-face { font-family:Inter; font-style:normal; font-weight:800; font-display:swap; src:url("/fonts/Inter/Inter-ExtraBold.woff2") format("woff2"); }
@font-face { font-family:Inter-Italic; font-style:italic; font-weight:800; font-display:swap; src:url("/fonts/Inter/Inter-ExtraBoldItalic.woff2") format("woff2"); }
@font-face { font-family:Inter; font-style:normal; font-weight:900; font-display:swap; src:url("/fonts/Inter/Inter-Black.woff2") format("woff2"); }
@font-face { font-family:Inter-Italic; font-style:italic; font-weight:900; font-display:swap; src:url("/fonts/Inter/Inter-BlackItalic.woff2") format("woff2"); }

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.fancy-scrollbar::-webkit-scrollbar{
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

.fancy-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  cursor:grabbing;
}

@property --x {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0;
}

@property --y {
  syntax: "<length-percentage>";
  inherits: false;
  initial-value: 0;
}

.disapear-top{
  transform: translateX(var(--x)) translateY(var(--y));
  animation: 
    move-y forwards ease-out,
    move-x forwards ease-out;
}
